.contextButton {
  border:5px;
  cursor:pointer;
  position:absolute;
  border:solid 1px black;
  padding: 0px 4px 0px 4px;
  margin-left:15px;
  width:6px;
  height:12px;
  text-align:center;
  line-height:11px;
  border-radius:2px;
}

.contextButton:hover {
  background:#d4d4d4;
}

.contextButton:nth-of-type(2) {
margin-left:35px;
}

.contextButton:nth-of-type(3) {
  margin-left:55px;
}

.contextHint {
  width:auto;
  margin-top:-15px;
  border: none;
  margin-left:3px;
  opacity:.4;
  font-size:10px;
  cursor: help;
}

.contextContainer {
  display:block;
  z-index: 1;
  background: #000;
  margin-left:-65px;
}

.contextLabel {
  position:absolute;
  color: #727272;
}

.context-selection {
  border-radius:5px;
  padding:5px;
  z-index:2;
}

.context-selection option {
  padding: 0 2px;
  border-radius:3px;
}

.context-selection option:hover {
  background:#727272;
  cursor:pointer;
}

.context-selection option:nth-child(1){
  font-weight:bold;
  color:red;
}

/* Specific Context Styling */

.nocontext{
  color:red;
}

#shift, #spacebar{
  margin-top:-20px;
  cursor: help;
  opacity:0.4;
  width:auto;
}

b{
  font-weight:normal;
}

u{
  text-decoration: none;
}
