<li class="separator acl-write"></li>
<li id="context" class="acl-write">
    <select id="context-selection">
        <option value="dummy" selected>Context</option>
        <option value="Section">Section</option>
        <option value="Paragraph">Paragraph</option>
        <option value="Subsection">Subsection</option>
    </select>
</li>
